h2 {
    font-weight: lighter;
    letter-spacing: 0.3px;
    font-size: 4rem;
    color: #222;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;

}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
thead {
    background-color: rgb(19, 110, 170);
    color: white;
}
tr:hover {background-color: #AED6F1 ;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: greenyellow;
    border-color: greenyellow;
    border-radius: 5px;
    margin-right: 25px;
    color:black solid;
    font-weight: bold;
}
.btn2{
    width: 100px;
    height: 40px;
    background-color: red;
    border-color: red;
    border-radius: 5px;
}
.simpan{
    width: 100px;
    height: 40px;
    background-color: rgb(9, 120, 248);
    border-color: rgb(9, 120, 248);
    border-radius: 5px;
    margin-top: 20px;
}
input, textarea ,select{ 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF; 
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
   
.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    }

    input, textarea { 
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
        }